################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1.vcxproj
/Project1.vcxproj.filters
